.Rproj.user
.Rhistory
.RData
.Ruserdata

.idea/workspace.xml
.idea/vcs.xml
.idea/simulations.iml
.idea/modules.xml
.idea/misc.xml
Reports/drew-final-report.aux
Reports/drew-final-report.log
Reports/drew-final-report.synctex.gz